.navbar{
    min-width: 179px;
    background-color: #393a3d;
}
.navbar .m-logo{
    
    justify-content: center;
    display: flex;
    height: 48px;
    align-items: center;
  
}
.m-logo button{
    background-color: transparent;
    border: none;
}
.m-logo button:hover{
    cursor: pointer;
}
.m-logo button:nth-child(1){
    background-image: url('./../../assets/img/icons.svg');
    background-position: -428px -92px;
    width: 16px;
	height: 16px;
    margin-right: 12px;
    margin-top: 4px;
}
.m-logo button:nth-child(2){
    width: 96px;
    height: 32px;
    /* background-image: url('./../../assets/img/logo.svg'); */
    background-image: url('./../../assets/img/logo.png');
    background-size: 96px 32px;
    
}
.menu-item-list{
    height: calc(100vh - 62px);
    font-size: 13.5px;
    font-family: NOTOSAN REGULAR;
    
}
.menu-item{
    display: flex;
    height: 42px;
    align-items: center;
    cursor: pointer;
}
.menu-item:hover{
    background-color: #b8bcc333;
}
.menu-item div:nth-child(1){
    width: 6px;
    height: 100%;
}

.menu-item div:nth-child(2){
    background-image: url('./../../assets/img/icons.svg');
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.menu-item  div:nth-child(3){
    text-align: left;
    color: #ffffff;
    margin-left: 10px;
}

.menu-item-active div:nth-child(1){
    background-color: #2ca01c;
}

.menu-item-active{
    background-color: #b8bcc333;
    font-family: NOTOSAN BOLD;
}

.stick-navbar{
    position: sticky;
    left: 0px;
    z-index: 10;
}