.scroll-bar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 14px;
}

.scroll-bar::-webkit-scrollbar {
  width: 6px;

}



/* Track */
.scroll-bar::-webkit-scrollbar-track {
  background-color: #F1F1F1;

}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background: #B8BCC3;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {

  background: #A6A6A6;
}




.m-scroll-bar {
  height: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 179px;
  z-index: 20;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}